.sidebar {
  flex: 0.2;
}

.sidebar > a {
  text-decoration: none;
  color: unset;
}

.sidebar > hr {
  height: 1px;
  border: 0;
  background-color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
