.header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  padding: 8px 10px;
  background-color: white;
  z-index: 1;
}

.header__left,
.header__input,
.header__icons {
  display: flex;
  align-items: center;
}

.header__input {
  width: 40%;
  border: 1px solid lightgray;
  min-width: max-content;
}
.header__searchLink {
  display: block;
  height: 28px;
  width: auto;
}
a.header__searchLink > svg {
  height: 100%;
}
.header__input > input {
  line-height: 2;
}

.header__icon {
  margin-right: 8px;
}

.header__inputButton {
  width: 50px !important;
  background: #fafafa;
  border-left: 1px solid lightgray;
  color: gray;
}

.header__input > input {
  flex: 1;
  border: none;
  padding-left: 10px;
}

.header_logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}
