.interactions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.interactions__info {
  width: 100%;
}

.interactions__mainInteractionSection {
  width: 100%;
  display: flex;
  gap: 0 30px;
  padding: 0 10%;
  margin-bottom: 30px;
}

.interactions__title {
  flex: 0.8;
}

.interactions__interactiveSection {
  display: flex;
  align-items: center;
  font-size: 10px;
  flex: 0.2;
}

.interactions__interactiveSection svg {
  margin-left: 12px;
  color: grey;
}

.reaction-counter {
  margin-left: 20px;
}

.interactions__subscribe {
  color: white !important;
  background-color: #c00 !important;
}

.interactions__thumbsUp:hover {
  color: #1277a5;
}
.interactions__thumbsDown:hover {
  color: #a51212;
}

.channel-info {
  display: flex;
  flex-direction: row;
}

.channel-info .channel-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.video-descr {
  margin-left: 60px;
  margin-bottom: 20px;
}